body{
    font-family: 'Montserrat',sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: 'Ubuntu',sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
h2{
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 5%;
}
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light',sans-serif;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 55%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feat{
    text-align: center;
    padding: 5%;
}
.feat h3{
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 1.5rem;
    
}
.feat p{
    color: #8f8f8f;
    margin: auto;
}
.icon{
    font-size: 3rem;
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
#press img{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
#cta h3{
    color: #fff;
    font-family: 'Montserrat-Bold',sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    background-color: #fff;
    text-align: center;
    padding: 5% 10%;
}
#footer p{
    color: #8f8f8f;
    line-height: 3;
}
#footer i{
    padding: 0% 1%;
}

@media (max-width: 1012px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0deg);
    }
}